.modal {
  width: 77%;
  height: 100vh;
  position: absolute;
  top: 60%;
  left: 245px;
  background-color: rgba(0,0,0,0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  color: #000;
  background-color: #E02041;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  
}

.closed {
  position: absolute;
  right: 24px;
  top: 45px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.div-container-modal h1{
  padding-top: 20px;
  color: #FFF;
}

.div-container-modal form.editar-funcionario  input{
  margin-top: 10px;
}

.div-container-modal form.editar-funcionario text{
  color: #FFF;
  font-size: 15px;
}


.div-container-modal form.editar-funcionario  button{
  width: 100%;                    /*Largura*/
  height: 55px;                   /*Altura*/
  background: #ffffff;          /*Cor*/
  border: 0;                      /*Sem borda*/
  border-radius: 8px;             /*Arrendoar o button*/
  color: #000;                  /*Cor da Letra*/
  font-weight: 700;               /*Estilo da letra no caso foi selecionado a bold*/
  margin-top: 5px;               /*Espaçamento de cima*/
  display: inline-block;          /**/
  text-align: center;             /*Alinhar o texto no centro*/
  text-decoration: none;          /**/
  font-size: 25px;                /*Tamanho da letra no button*/
  line-height: 60px;              /**/
  transition: filter 0.2s;        /*Tempo de demora para fazer o efeito de hover*/
}


.div-container-modal form.editar-funcionario  button.button-modal-delete{
  width: 100%;                    /*Largura*/
  height: 55px;                   /*Altura*/
  background: #E02041;          /*Cor*/
  border: 0;                      /*Sem borda*/
  border-radius: 8px;             /*Arrendoar o button*/
  color: #FFF;                  /*Cor da Letra*/
  font-weight: 700;               /*Estilo da letra no caso foi selecionado a bold*/
  margin-top: 5px;               /*Espaçamento de cima*/
  display: inline-block;          /**/
  text-align: center;             /*Alinhar o texto no centro*/
  text-decoration: none;          /**/
  font-size: 25px;                /*Tamanho da letra no button*/
  line-height: 60px;              /**/
  transition: filter 0.2s;        /*Tempo de demora para fazer o efeito de hover*/
}
